teraflow
.teraflow/user-config.yml

# GraphRAG
graphrag/.venv/
.teraflow/graphrag/*.log
.teraflow/graphrag/**/*.log
.teraflow/graphrag/*.tmp
.teraflow/graphrag/**/*.tmp

# Python cache
**/__pycache__/
*.pyc
